<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html">Accord.NET Framework</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="intro.html">About</a></li>
                <li><a href="samples.html">Examples</a></li>
                <li><a href="publications.html">Publications</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Support <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="samples.html">Sample apps</a></li>
                        <li><a href="docs/html/R_Project_Accord_NET.htm">Online docs</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki">GitHub Wiki</a></li>
                        <li><a href="license.html">License</a></li>
                        <li class="divider"></li>
                        <li class="dropdown-header">Contribute</li>
                        <li><a href="https://github.com/accord-net/framework/issues">Report an issue</a></li>
                        <li><a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=N4Q6YQSPWN8BG">Donate (Paypal)</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        How to <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://github.com/accord-net/framework/wiki/Getting-started">Get Started</a></li>
                        <li class="divider"></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Mathematics">Mathematics</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Classification">Classification</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Regression">Regression</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Clustering">Clustering</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Distributions">Distributions</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Hypothesis-Tests">Hypothesis Tests</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Kernel-Methods">Kernel Methods</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Imaging">Image</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Audio">Audio</a></li>
                        <li><a href="https://github.com/accord-net/framework/wiki/Vision">Vision</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Books<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://www.packtpub.com/big-data-and-business-intelligence/f-machine-learning">F# for Machine Learning Essentials</a></li>
                        <li><a href="https://www.packtpub.com/big-data-and-business-intelligence/mastering-net-machine-learning">Mastering .NET Machine Learning</a></li>
                        <li><a href="http://www.machine-learning-projects-for-dot-net-developers.com">Machine Learning Projects for .NET Developers</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/accord-net/framework">GitHub</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
