<a href="http://www.linkedin.com/in/cesarrsouza" target="_blank">
	<img id="linkedin" class="icons" src="images/metro/appbar.social.linkedin.color.png" />
</a>
<a href="http://www.youtube.com/playlist?list=PLb8yJtCIm8PQRC0t8re7b5mOCP8s6iBk9"
   target="_blank">
	<img id="youtube" class="icons" src="images/metro/appbar.youtube.color.png" />
</a>
<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&amp;hosted_button_id=N4Q6YQSPWN8BG"
   target="_blank">
	<img id="paypal" class="icons" src="images/metro/appbar.paypal.color.png" />
</a>
<a href="bitcoin:1FC5gxLs2TsvuiHPP1tRLh5mPboQJQghvZ"
   target="_blank">
	<img id="bitcoin" class="icons" src="images/misc/bitcoin.png" style="width: 76px; padding: 12px" />
</a>
<a href="https://github.com/accord-net/framework" target="_blank">
	<img id="Img1" class="icons" alt="GitHub Project Page" src="images/metro/appbar.social.github.octocat.png" />
</a>
