<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- The reflection information file to use -->
	<reflectionInfo file="reflection.xml" />

	<!-- The inherited documentation output filename -->
	<inheritedDocs file="_InheritedDocs_.xml" />

	<!-- This is used to see duplicate comment key warnings. They can usually be ignored.  Comment this element
			 out to suppress them. -->
	<!-- showDuplicateWarning / -->

	<!-- The XML comments file list.  The "cacheSize" attribute represents the size of the index cache (the
			 maximum number of XML comments files in memory). -->
	<commentsFiles cacheSize="100">
		<!-- The <import> elements represent XML comments files that act as a source for inherited documentation but
				 are not themselves scanned for <inheritdoc /> tags.  The <scan> elements represent files that will be
				 scanned for the tags and can also contain inherited documentation.  For both, a "path" and/or "file"
				 attribute can be specified.  The "path" attribute is used to indicate that all XML files in the folder
				 should be included.  An optional "recurse" attribute can be used to indicate whether or not sub-folders
				 are also search for comments files.  Use a "file" attribute to specify an individual comments file or,
				 when used with "path", the wildcard to match. -->

		<!-- Base .NET Framework XML comments files. -->
		<import path="C:\Program Files (x86)\Reference Assemblies\Microsoft\Framework\.NETFramework\v4.6" file="*.xml" recurse="false" />
<import path="C:\Program Files (x86)\Reference Assemblies\Microsoft\FSharp\.NETFramework\v4.0\4.4.0.0" file="*.xml" recurse="false" />


		<!-- Project XML comments files to scan. -->
		            <scan file="C:\Docs\Working\SharpDX.DirectSound.xml" />
            <scan file="C:\Docs\Working\SharpDX.xml" />
            <scan file="C:\Docs\Working\Accord.Audio.DirectSound.XML" />
            <scan file="C:\Docs\Working\Accord.Audio.XML" />
            <scan file="C:\Docs\Working\Accord.Audition.XML" />
            <scan file="C:\Docs\Working\Accord.Controls.Audio.XML" />
            <scan file="C:\Docs\Working\Accord.Controls.Imaging.XML" />
            <scan file="C:\Docs\Working\Accord.Controls.XML" />
            <scan file="C:\Docs\Working\Accord.Controls.Vision.XML" />
            <scan file="C:\Docs\Working\Accord.XML" />
            <scan file="C:\Docs\Working\Accord.Fuzzy.XML" />
            <scan file="C:\Docs\Working\Accord.Genetic.XML" />
            <scan file="C:\Docs\Working\Accord.Imaging.XML" />
            <scan file="C:\Docs\Working\Accord.IO.XML" />
            <scan file="C:\Docs\Working\Accord.MachineLearning.XML" />
            <scan file="C:\Docs\Working\Accord.Math.XML" />
            <scan file="C:\Docs\Working\Accord.Neuro.XML" />
            <scan file="C:\Docs\Working\Accord.Statistics.XML" />
            <scan file="C:\Docs\Working\Accord.Video.DirectShow.XML" />
            <scan file="C:\Docs\Working\Accord.Video.Kinect.XML" />
            <scan file="C:\Docs\Working\Accord.Video.VFW.XML" />
            <scan file="C:\Docs\Working\Accord.Video.Ximea.XML" />
            <scan file="C:\Docs\Working\Accord.Video.XML" />
            <scan file="C:\Docs\Working\Accord.Vision.XML" />
            <scan file="C:\Docs\Working\Accord.Imaging.Noncommercial.XML" />
            <scan file="C:\Docs\Working\Accord.MachineLearning.GPL.XML" />
            <scan file="C:\Docs\Working\Accord.Math.Noncommercial.XML" />
            <scan file="C:\Docs\Working\Accord.DataSets.XML" />

	</commentsFiles>
</configuration>
