@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,400,700);

body
{
    padding: 50px;
    font-family: 'Lato' , sans-serif;
    font-weight: 300;
    color: #777;
    font-weight: 300;
}

a
{
    color: #39c;
    font-weight: 400;
    text-decoration: none;
}

strong
{
    font-weight: bold;
}


#content-wrapper
{
    width: 100%;
    margin: 0 auto;
}

#accord-logo
{
    margin: auto;
    background-image: url('http://accord-net.github.io/docs/resources/Accord.NET%20%28logo%20large%29.png');
    background-position: center;
    width: 487px;
    height: 363px;
}

#accord-logo p
{
    position: relative;
    top: 280px;
    left: 330px;
    font-weight: bold;
}

#right-buttons
{
    margin-top: 50px;
    opacity: 0.1;
    float:right;
    width: 50px;
    height: 363px;
    vertical-align: middle;
}

#download-buttons
{
    margin-top: 50px;
    width: 370px;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

#download-buttons ul
{
    list-style: none;
    height: 40px;
    padding: 0;
    background: #eee;
    background: -moz-linear-gradient(top, #f8f8f8 0%, #dddddd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f8f8f8), color-stop(100%,#dddddd));
    background: -webkit-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -o-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: -ms-linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    background: linear-gradient(top, #f8f8f8 0%,#dddddd 100%);
    border-radius: 5px;
    border: 1px solid #d2d2d2;
    box-shadow: inset #fff 0 1px 0, inset rgba(0,0,0,0.03) 0 -1px 0;
    width: 370px;
}

#download-buttons li
{
    width: 89px;
    float: left;
    border-right: 1px solid #d2d2d2;
    height: 40px;
}

#download-buttons ul a
{
    line-height: 1;
    font-size: 11px;
    color: #999;
    display: block;
    text-align: center;
    padding-top: 6px;
    height: 40px;
}

#download-buttons ul li + li
{
    width: 88px;
    border-left: 1px solid #fff;
}

#download-buttons ul li + li + li
{
    border-right: none;
    width: 89px;
}

#download-buttons ul a strong
{
    font-size: 14px;
    display: block;
    color: #222;
}





section
{
    margin-top: 100px;
    font-weight: 300;
    text-align: center;
}

section p
{
    font: 12px Segoe UI, Helvetica, Arial, sans-serif;
    color: #333333;
    margin-top: 0;
}

.section-title h1
{
    font: 36px Segoe UI, Helvetica, Arial, sans-serif;
    line-height: 16px;
}

.section-title p
{
    width: 600px;
    margin: 0 auto;
}

.section-panel
{
    width: 270px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
}

.section-panel h1
{
    font-size: 20px;
}




#more
{
    cursor: pointer;
}

#more h1:after
{
    background-image: url('../images/metro/appbar.chevron.down.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 50px;
    display: inline-block;
    content: "";
}

#features
{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    -moz-column-rule-color: #ccc;
    -moz-column-rule-style: solid;
    -moz-column-rule-width: 1px;
    -webkit-column-rule-color: #ccc;
    -webkit-column-rule-style: solid;
    -webkit-column-rule-width: 1px;
    font-size: 10px;
}

#features h1
{
    font-size: 12px;
}




footer
{
    width: 270px;
    float: left;
    position: fixed;
    bottom: 50px;
}

@media print, screen and (max-width: 960px)
{

    div#content-wrapper
    {
        width: auto;
        margin: 0;
    }

    header, section, footer
    {
        float: none;
        position: static;
        width: auto;
    }

    header
    {
        padding-right: 320px;
    }

    section
    {
        border: 1px solid #e5e5e5;
        border-width: 1px 0;
        padding: 20px 0;
        margin: 0 0 20px;
    }

    header a small
    {
        display: inline;
    }

    header ul
    {
        position: absolute;
        right: 50px;
        top: 52px;
    }
}

@media print, screen and (max-width: 720px)
{
    body
    {
        word-wrap: break-word;
    }

    header
    {
        padding: 0;
    }

    header ul, header p.view
    {
        position: static;
    }

    pre, code
    {
        word-wrap: normal;
    }
}

@media print, screen and (max-width: 480px)
{
    body
    {
        padding: 15px;
    }

    header ul
    {
        display: none;
    }
}

@media print
{
    body
    {
        padding: 0.4in;
        font-size: 12pt;
        color: #444;
    }
}
