<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }} - Accord.NET Machine Learning in C#</title>
    <link rel="shortcut icon" href="favicon.ico">
    <link rel="author" href="https://plus.google.com/+cesarrsouza/" />
    <link rel="stylesheet" type="text/css" href="content/jquery.powertip.css" />
    <link rel="stylesheet" type="text/css" href="content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="content/common.css" />
    <link rel="stylesheet" type="text/css" href="content/contents.css" />
    <script type="text/javascript" src="scripts/jquery-2.1.3.js"></script>
    <script type="text/javascript" src="scripts/jquery-migrate-1.2.1.js"></script>
    <script type="text/javascript" src="scripts/jquery.vibrate.js"></script>
    <script type="text/javascript" src="scripts/jquery.powertip.js"></script>
    <script type="text/javascript" src="scripts/jquery.quicksand.js"></script>
    <script type='text/javascript' src="scripts/bootstrap.js"></script>
    <script type='text/javascript' src="scripts/bootbox.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<script type="text/javascript">

    $(document).ready(function () {
        $("#features").hide();
        $("#accord-logo").hide();

        $("#accord-logo").fadeIn(1200);


        var paypal = $('#paypal');

        paypal.vibrate({
            start: 20000,
            speed: 5,
            duration: 1000,
            frequency: 20000,
            spread: 6,
            angle: 25
        });

        paypal.data('powertip', $('#paypal-tooltip').html());
        paypal.powerTip({ placement: 'w', mouseOnToPopup: true });

		var bitcoin = $('#bitcoin');
		bitcoin.data('powertip', $('#bitcoin-tooltip').html());
        bitcoin.powerTip({ placement: 'w', mouseOnToPopup: true });
    });

</script>
<body>
    
    {% include navbar.html %}

    <!--

        // Left area: the area containing the header and the table of contents for the site
        // -------------------------------------------------------------------------------->
    <header>
        <div id="accord-logo">
            &#x222e;
        </div>
        <h1>
            {{ page.title }}
        </h1>
    </header>
    <!--

        // Right area: contains the Youtube, LinkedIn and Paypal buttons
        // -------------------------------------------------------------------------------->
    <aside>
        {% include right-icon-bar.html %}
    </aside>
    <!--

        // Middle area: contains the actual page contents
        // -------------------------------------------------------------------------------->
    <div class="container">
        <article>
            {% if content %}
            {{ content }}
            {% else %}
            <h1>
                Title
            </h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec rutrum libero.
                Cras ullamcorper erat eget dolor blandit, ut luctus est ullamcorper. Aenean consequat
                arcu in tortor feugiat, at tristique sem rutrum. Integer feugiat nibh et metus placerat,
                lacinia condimentum tellus viverra. Suspendisse ut vulputate sapien, non volutpat
                neque. Pellentesque molestie convallis tincidunt. Mauris quam libero, consectetur
                a tortor eget, aliquam ornare libero.
            </p>
            <p>
                Duis sed ultrices orci. Nullam libero diam, vulputate at accumsan in, dignissim
                nec nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
                inceptos himenaeos. Nulla facilisi. Duis commodo nulla nec vehicula hendrerit. Curabitur
                cursus risus vel mauris pulvinar, vitae lobortis eros lobortis. Maecenas gravida
                neque in ultrices tincidunt. Integer sodales nisl enim, vitae aliquam augue tincidunt
                non. Duis a consectetur eros, ac vestibulum magna. Fusce dui neque, eleifend id
                lacinia euismod, aliquet at lacus. Morbi elementum lacus purus, ut malesuada ipsum
                tempor sit amet. Phasellus condimentum facilisis massa in adipiscing. Ut commodo
                ante id lorem venenatis, eu congue neque viverra.
            </p>
            <h2>
                Subtitle
            </h2>
            <p>
                Curabitur viverra aliquet condimentum. Cras vulputate risus dui. Morbi pellentesque,
                dolor nec aliquam laoreet, ipsum ante mattis tellus, eget vulputate nisi justo vel
                massa. In facilisis lorem elit, vitae faucibus dolor volutpat sit amet. Sed vel
                molestie nisi. Curabitur venenatis libero sed erat mattis, vel egestas augue interdum.
                Aliquam erat volutpat.
            </p>
            <h3>
                Sub-subtitle
            </h3>
            <p>
                Aliquam tincidunt leo eget quam aliquet, sit amet tincidunt tellus lacinia. Vivamus
                eros metus, pharetra vitae vehicula vel, gravida ut elit. Nulla non justo rhoncus,
                imperdiet neque ut, lacinia quam. Mauris feugiat molestie metus, nec feugiat turpis
                sagittis at. Morbi eget vestibulum enim, vel malesuada augue. Sed tempor gravida
                sapien, sed gravida lectus posuere eu. Fusce eget massa neque. Proin elementum dolor
                vel purus vestibulum tempus. Vestibulum mattis lacus eu sagittis convallis. Maecenas
                sit amet nisi orci. Mauris at consectetur urna. Curabitur dui libero, accumsan euismod
                elementum quis, blandit in est.
            </p>
            <p>
                Donec ac elit et purus condimentum convallis. Sed vestibulum porttitor placerat.
                Quisque ullamcorper at urna quis sollicitudin. Nulla eleifend fringilla quam in
                iaculis. Duis sed blandit diam. Duis vel ipsum diam. Sed elementum, lacus eget placerat
                porta, lorem metus varius sapien, vitae tristique tortor sem elementum nunc. Praesent
                mattis pulvinar eros, eget blandit neque dignissim ut. Nullam eu consectetur elit.
                Quisque eget augue dolor. Cras cursus, dui eu scelerisque dapibus, orci mauris bibendum
                nisl, eu porta massa dui non dolor. Fusce aliquet nec nisi ut molestie.
            </p>

            <p>
                Aliquam tincidunt leo eget quam aliquet, sit amet tincidunt tellus lacinia. Vivamus
                eros metus, pharetra vitae vehicula vel, gravida ut elit. Nulla non justo rhoncus,
                imperdiet neque ut, lacinia quam. Mauris feugiat molestie metus, nec feugiat turpis
                sagittis at. Morbi eget vestibulum enim, vel malesuada augue. Sed tempor gravida
                sapien, sed gravida lectus posuere eu. Fusce eget massa neque. Proin elementum dolor
                vel purus vestibulum tempus. Vestibulum mattis lacus eu sagittis convallis. Maecenas
                sit amet nisi orci. Mauris at consectetur urna. Curabitur dui libero, accumsan euismod
                elementum quis, blandit in est.
            </p>
            <p>
                Donec ac elit et purus condimentum convallis. Sed vestibulum porttitor placerat.
                Quisque ullamcorper at urna quis sollicitudin. Nulla eleifend fringilla quam in
                iaculis. Duis sed blandit diam. Duis vel ipsum diam. Sed elementum, lacus eget placerat
                porta, lorem metus varius sapien, vitae tristique tortor sem elementum nunc. Praesent
                mattis pulvinar eros, eget blandit neque dignissim ut. Nullam eu consectetur elit.
                Quisque eget augue dolor. Cras cursus, dui eu scelerisque dapibus, orci mauris bibendum
                nisl, eu porta massa dui non dolor. Fusce aliquet nec nisi ut molestie.
            </p>

            <table>
                <tr>
                    <td>
                        <i>Accord.NET Framework-a.b.c<strong>.exe</strong></i>:
                    </td>
                    <td>
                        Executable installer for binaries and source code
                    </td>
                </tr>
                <tr>
                    <td>
                        <i>Accord.NET Framework-a.b.c<strong>.rar</strong></i>:
                    </td>
                    <td>
                        Compressed archive with binaries and source code
                    </td>
                </tr>
                <tr>
                    <td>
                        <i>Accord.NET Framework-a.b.c-<strong>(libs only).rar</strong></i>:
                    </td>
                    <td>
                        Compressed archive file containing only .dll files
                    </td>
                </tr>
            </table>

            <p>
                Donec ac elit et purus condimentum convallis. Sed vestibulum porttitor placerat.
                Quisque ullamcorper at urna quis sollicitudin. Nulla eleifend fringilla quam in
                iaculis. Duis sed blandit diam. Duis vel ipsum diam. Sed elementum, lacus eget placerat
                porta, lorem metus varius sapien, vitae tristique tortor sem elementum nunc. Praesent
                mattis pulvinar eros, eget blandit neque dignissim ut. Nullam eu consectetur elit.
                Quisque eget augue dolor. Cras cursus, dui eu scelerisque dapibus, orci mauris bibendum
                nisl, eu porta massa dui non dolor. Fusce aliquet nec nisi ut molestie.
            </p>

            {% endif %}
        </article>
        {% if page.comments %}
        <div id="comments">
            {% include disqus.html %}
        </div>
        {% endif %}
    </div>
    <!--

        // Footer: some debug and version information
        // -------------------------------------------------------------------------------->
    <footer>
        <p>
            This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">
                Creative Commons Attribution 3.0 Unported License
            </a>.
        </p>
        <p>
            Copyright 2009-{{ site.time | date: '%Y' }} &copy; C&eacute;sar Souza. Some rights reserved. Site last generated
            on {{site.time}}
        </p>
    </footer>
	
    <!--
	// Hidden area: contains divs which should not be shown in the page
	// -------------------------------------------------------------------------------->
	{% include tooltips-bottom.html %}
</body>

{% include analytics.html %}

</html>
